<header>
    <input type="checkbox" id="button__menu" />
    <label for="button__menu">
        <nav>
            <ul>
                <li><a id="button__home" href="/">Batz</a></li>|||
                <li><a href="/thinks/">Gedanken</a></li>||
                <li><a href="/links/">Internetz</a></li>||
                <li><a href="/randoms/">Willkür</a></li>||
                <li><a href="https://github.com/ba-batz/batz.knife.cat/" target="_blank">Quelle</a></li>
                <li><a id="secret">>:)</a></li>
                <h2>EAT THE RICH</h2>
            </ul>
        </nav>
    </label>
</header>