<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- $main_options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
    {{- $main_template := resources.Get "sass/main.scss" }}
    {{- $main_style := $main_template | resources.ExecuteAsTemplate "main_parsed.scss" . | toCSS $main_options |
    resources.Minify }}
    <link rel="stylesheet" href="{{ $main_style.RelPermalink }}">
    {{- if in .Params.layout "list" }}
    {{- $list_options := (dict "targetPath" "css/card.css" "outputStyle" "compressed") }}
    {{- $list_template := resources.Get "sass/card.scss" }}
    {{- $list_style := $list_template | resources.ExecuteAsTemplate "list_parsed.scss" . | toCSS $list_options |
    resources.Minify }}
    <link rel="stylesheet" type="text/css" href="{{ $list_style.RelPermalink }}">
    {{- end }}
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <title>{{ .Title }}</title>
    {{- with .File }}
    <link rel="icon" type="image/x-icon" href="/favicon/{{ .File.BaseFileName }}.png">
    {{- end }}
</head>