::selection {
    background: #DE3163;
}

html {
    background-color: #f8f8f8;
    font-family: sans-serif;
    color: #1c1c1c;
}

body {
    margin: 0px 0px;
}

.main {
    margin: 0.5% 1.5%;
}

nav {
    background-color: red;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    vertical-align: middle;
    margin-left: 1.5%;
}

nav ul li a {
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    color: #f8f8f8;
}

nav ul li a:hover {
    background-color: #7E191B;
}

.linktree ul {
    display: inline;
}

.linktree ul li {
    display: grid;
    vertical-align: middle;
    margin-bottom: 1%;
}

.linktree ul li a {
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    color: #1c1c1c;
}

.linktree ul li a:hover {
    background-color: #FF033E;
}

#emanzipation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: #420D09;
}

h2 {
    color: #3D2022;
}

#revolution {
    max-width: 60%;
    max-height: 60%;
}

#inovation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}