@import url('https://fonts.googleapis.com/css2?family=Fira+Sans &display=swap');

::selection {
    background: #DE3163;
}

html {
    background-color: #f8f8f8;
    font-family: 'Fira Sans', sans-serif;
    color: #1c1c1c;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h1 {
    color: #420D09;
}

h2 {
    color: #3D2022;
}

h3 {
    color: #B43757;
}

nav {
    background-color: red;
}

nav ul {
    display: inline;
}

nav ul li {
    display: inline;
    vertical-align: middle;
    margin-right: 2%;
}

nav ul li a {
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: #f8f8f8;
}

nav ul li a:hover {
    background-color: #7E191B;
}

.main {
    margin: 1.5%
}

.linktree ul {
    display: inline;
}

.linktree ul li {
    display: grid;
    vertical-align: middle;
    margin-bottom: 1%;
}

.linktree ul li a {
    text-decoration: none;
    font-size: xx-large;
    font-weight: bolder;
    color: #1c1c1c;
}

.linktree ul li a:hover {
    background-color: #FF033E;
}

#emanzipation {
    display: flex;
}

#emanzipation img {
    width: 40%;
    height: 40%;
    min-width: 140px;
    min-height: 180px;
}

#revolution {
    margin-left: 20%;
    width: 60%;
    height: 60%;
}

#innovation {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
