html {
    background-color: cornflowerblue;
    font-family: sans-serif;
}

body {
    margin-bottom: 0;
}

.navbar {
    background-color: tomato;
}

.navbar ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 1px 10px;
}

.navbar ul li a {
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    color: azure;
}

.navbar ul li a:hover {
    background-color: sandybrown
}