nav {
    background-color: $color-background__header;
    box-shadow: 0 0 0.5em darken($color: $color-background__header, $amount: 45);
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border-radius: 0.5em;

    ul {
        display: inline;
        color: white;
    }

    li {
        display: inline;
        vertical-align: middle;
        margin-right: 1em;
    }

    a {
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
        color: lighten($color: $color-font, $amount: 15);
        border-radius: 0.2em;
        padding: 0 0.2em;
        transition: 0.2s;

        &:hover {
            background-color: lighten($color: $color-background__header, $amount: 16);
            color: $color-font;
        }
    }

    @media(max-width: 800px) {
        text-align: center;

        li {
            display: inline-block;
        }
    }
}

#home-button {
    color: darken($color: $color-highlight, $amount: 15);
    font-weight: 900;
    margin-right: -0.5em;

    &:hover {
        color: $color-highlight;
    }
}

#secret {
    color: lighten($color: $color-background__header, $amount: 15);;
    font-size: small;
    font-weight: normal;
    float: right;
    margin-right: 1em;

    &:hover {
        background-color: $color-highlight;
    }
}
