::selection {
    background-color: $color-selection;
}

html {
    color: $color-font;
    background-color: $color-background;
    font-family: 'Fira Sans', sans-serif;
}

body {
    margin: 0.8em 1.5em;
}

img {
    max-width: 100%;
    width: 700px;
    box-shadow: $color-shadow;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: $color-h1;
    text-align: center;
}

h2 {
    color: $color-h2;
}

h3 {
    color: $color-h3;
}

#content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
