$color-background:#161616;
$color-font:#f0f0f0;

$color-h1: #0ce6f2;
$color-h2:#ff0546 ;
$color-h3: #ab4646;

$color-header: #450327;
$color-header__home: #0098db;


$color-shadow: #09010d;

$color-highlight: #0ce6f2;

$color-selection:#8f9bf6;