@import 'variables';

#card-grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.card {
    width: 90%;
    aspect-ratio: 5 / 6;
    border: #262626;
    position: relative;
    bottom: 0;
    transition: 0.3s;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

    a {
        text-decoration: none;
    }

    h4 {
        color: $color-font;
        margin-top: 1em;
    }

    p {
        margin-top: -1em;
        color: lighten($color: $color-font, $amount: 25);
    }

    img {
        width: 100%;
        aspect-ratio: 2 / 1.6;
        box-shadow: none;
    }

    &:hover {
        box-shadow: 0 8px 24px grey;
        bottom: 0.5em;

        h4 {
            color: $color-highlight;
        }

        p {
            color: $color-font;
        }
    }

    @media(max-width: 800px) {
        box-shadow: 0 8px 24px grey;
    }

    &__text {
        margin: 0 1em;
    }
}
