#card-grid {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.card {
    width: 90%;
    aspect-ratio: 5 / 6;
    border: #262626;
    position: relative;
    bottom: 0;
    transition: 0.3s;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        box-shadow: 0 8px 24px grey;
        bottom: 0.5em;

        a {
            h4 {
                color: #FF355E;
            }

            p {
                color: black;
            }
        }
    }

    img {
        width: 100%;
        aspect-ratio: 2 / 1.6;
        box-shadow: none;
    }

    a {
        text-decoration: none;

        h4 {
            color: black;
        }

        p {
            color: #343434;
        }
    }
}


.card-text {
    margin-left: 1em;
}