nav {
    background-color: $color-header;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    border-radius: 0.5em;

    ul {
        display: inline;
        color: $color-font;
    }

    li {
        display: inline;
        vertical-align: middle;
        margin-right: 1em;
    }

    h2 {
        display: none;
    }

    a {
        text-decoration: none;
        font-size: x-large;
        font-weight: bold;
        border-radius: 0.2em;
        padding: 0 0.2em;
        transition: 0.2s;
        color: $color-h2;

        &:hover {
            color: $color-font;
        }
    }

    @include phone {
        li {
            display: none;
        }

        h2 {
            font-size: medium;
            display: inline;
        }
    }
}

#button__home {
    color: $color-header__home;
    font-weight: 900;
    margin-right: -0.5em;

    &:hover {
        color: $color-highlight;
    }
}

#secret {
    color: $color-header;
    font-size: small;
    font-weight: normal;
    float: right;
    margin-right: 1em;

    &:hover {
        color: $color-highlight;
    }

    @include phone {
        display: none;
    }
}

#button__menu {
    display: none;

    @include phone {
        &:checked+label>nav li {
            display: block;
        }

        &:checked+label>nav h2 {
            display: none;
        }
    }
}