<ul id="menu">
<a href=/><li>Auf Home landen!!<marquee>Willkommen auf meiner Website!! Viel Spaß beim Stöbern!!!!</marquee></li></a>
<a href=/creation/><li>Meine Schöpfungen :D<marquee>Blogs, Gedanken, Kunst!!1! Klick mich gerne ;)</marquee></li></a>
<a href=/ichiminternet/><li>Ich im Internet xP<marquee>WO bin ich aktiv??? WIE kannst du mich kontaktieren???</marquee></li></a>
</ul>
<div id="menu-gifs">
<marquee direction="up" loop="-1">
<div>
<img src="/1.gif"/>
<img src="/2.gif"/>
<img src="/3.gif"/>
<img src="/4.gif"/>
<img src="/5.gif"/>
<img src="/6.gif"/>
<img src="/7.gif"/>
<img src="/8.gif"/>
<img src="/9.gif"/>
<img src="/10.gif"/>
<img src="/11.gif"/>
<img src="/12.gif"/>
<img src="/13.gif"/>
<img src="/14.gif"/>
<img src="/15.gif"/>
</div>
</marquee>
</div>
<div id="sputnik">
<marquee id="sputnik-space" direction="down" behavior="alternate">
<marquee behavior="alternate">
<img src="/sputnik.gif">
</marquee>
</marquee>
</div>
