body {
margin: auto;
font: 1.3vw/1.62 serif;
background-color: #ffffff;
color: #000000;
font-stretch: condensed;
}

article {
max-width: 50vw;
margin: auto;
}

article img {
width: 30rem;
height: 10rem;
margin-left: 5rem;
}

article video {
width: 30rem;
height: 10rem;
margin-left: 10rem;
}

h1 {
transform: scale(1,1.8);
font-weight: 900;
}

h2 {
font-family: sans-serif;
font-stretch: expanded;
}

#menu {
position: fixed;
top: 6vh;
left: 1rem;
font-style: none;
font-weight: 900;
font-size: 90%;
background-size: 100% 100%;
}

#menu li {
list-style-type: none;
margin-bottom: 0.4rem;
max-width: 16vw;
border: solid 0.1rem;
border-radius: 0.3rem;
font-family: sans-serif;
}

#menu li:hover,#menu li:active {
background-image: url("/rei-asuka.gif");
background-size: cover;
}

#menu a {
color: #000000;
text-decoration: none;
}

#menu marquee {
font-family: serif;
}

#menu li:hover,#menu li:active marquee {
color: #ffffff;
}

#menu-gifs {
position: fixed;
bottom: 8vh;
right: 4.5rem;
width: 16vw;
}

#menu-gifs marquee {
height: 80vh;
}

#menu-gifs img{
height: 10rem;
width: 90%; 
}

#sputnik {
position: fixed;
bottom: 2vh;
left: 2rem;
width: 20vw;
height: 60vh;
}

#sputnik img {
height: 12rem;
width: 15rem;
}

#sputnik-space {
height: 60vh;
}

#sputnik img:hover {
background-image: url("/mew.gif");
background-size: 100% 100%;
}

@media only screen and (max-width: 600px) {
body {
font-size: 4vw;
line-height: 1.6;
margin: 0.5rem;
}

article {
max-width: 100%;
padding: 0 1rem;
}

article img,
article video {
width: 100%;
height: auto;
margin-left: 0;
display: block;
}

blockquote {
font-size: 3.5vw;
margin: -3vw;
}

#menu {
position: static;
transform: scale(1,0.7);
margin-bottom: -5vh;
margin-top: -4vh;
margin-left: -7vw;
margin-right: 26vw;
}

#menu li {
border: solid 0.01rem;
border-radius: 0.1rem;
max-width: 100%;
font-size: 4vw;
padding: 0.5rem;
margin-bottom: 0.5rem;
}

#menu-gifs {
position: absolute;
bottom: 70vh;
right: 1rem;
width: 5rem;
}

#sputnik {
visibility: hidden;
}
