<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $opts := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
    {{ with resources.Get "sass/main.scss" | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
    {{ end }}
    {{ if in .Params.layout "list" }}
      {{ $opts := dict "transpiler" "libsass" "targetPath" "css/card.css" }}
      {{ with resources.Get "sass/card.scss" | toCSS $opts | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
      {{ end }}
    {{ end }}
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <title>{{ .Title }}</title>
    {{ with .File }}
    <link rel="icon" type="image/x-icon" href="/favicon/{{ .BaseFileName }}.avif">
    {{ end }}
</head>

